@tailwind base;
@tailwind components;
@tailwind utilities;

/* External css */

.slick-active div{
    border-right: 2px solid black !important;
    color: black !important;
    transition: ease-in !important;
    -webkit-transition: ease-in-out !important;
    -moz-transition: ease-in !important;
    -ms-transition: ease-in !important;
    -o-transition: ease-in !important;
    transition-duration: 500ms !important;

}